/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

body {
  background-color: #fff;
}
.main {
  background-color: #fff;
  color: #333;
  padding: 15px 60px;
}

.help {
  padding: 15px;
  background-color: #81bda4;
}

.header_img {
  margin-bottom: 30px;
}

hr {
  border: 1px solid #81bda4;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


